In [6]:
from cobra import Model , Reaction , Metabolite

In [7]:
cobra_config = cobra.Configuration()

In [8]:
model = Model("reactions_model")

In [13]:
# REACTIONS 

# Reaction 0 : =====> A

reaction0=Reaction('reaction0')
reaction0.name='reaction0'
reaction0.lower_bound=1
reaction0.upper_bound=1

# Reaction 1 : A=====> B

reaction1=Reaction('reaction1')
reaction1.name='reaction1'
reaction1.lower_bound=0
reaction1.upper_bound=1000

# Reaction 2 : B=====> c

reaction2=Reaction('reaction2')
reaction2.name='reaction2'
reaction2.lower_bound=0
reaction2.upper_bound=1000


# Reaction 3 : ATP=====> 

reaction3=Reaction('reaction3')
ATP_R.name='reaction3'
ATP_R.lower_bound=0.9
ATP_R.upper_bound=0.9


# ATP Reaction  : A=====> ATP 

ATP_R=Reaction('ATP_R')
ATP_R.name='ATP_R'
ATP_R.lower_bound=0
ATP_R.upper_bound=1000


# Reaction M : C=====>  

M=Reaction('M')
M.name='M'
M.lower_bound=0
M.upper_bound=1000

In [14]:
# DEFINIG METABOLITES 

A= Metabolite('A',compartment='c')
B=Metabolite('B',compartment='c')
C= Metabolite('C',compartment='c')
ATP= Metabolite('ATP',compartment='c')

In [16]:
# ADDING METABOLITES

reaction0.add_metabolites({A:1})


reaction1.add_metabolites({A:-1,B:1})


reaction2.add_metabolites({B:-1,C:1})


reaction3.add_metabolites({ATP:-1})


M.add_metabolites({C:-1})


ATP_R.add_metabolites({A:-1,ATP:1})

In [17]:
# ADDING THE REACTIONS IN THE MODEL

model.add_reactions([reaction0,reaction1,reaction2,reaction3,M ,ATP_R])

In [18]:
# ADDING M AS THE OBJECTIVE FUNCTION

model.objective="M"

In [19]:
# MODEL OPTIMIZATION

model.optimize()

In [20]:
# MODEL SUMMARY

model.summary()